@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #091018;
}

header {
    background-color: #19355a;
    color: #f8f8f8;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;

    padding: 1vh;
    width: 100vw;
}

header > ul {
    list-style-type: none;

    display: flex;
    align-items: center;
    gap: 2vh;
}

header > ul > li > a {
    color: #3f6699;
    text-decoration: none;
    transition: .3s;
}

header > ul > li > a:hover {
    color: #d1d1d1;
    transition: .3s;
}

form {
    background-color: #1d212b;
    border-radius: 5px 15px 5px 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 4px;

    padding: 10px;
    margin: 10vh auto;   

    height: 40vh;
    width: 20vw;
}

.form-input {
    background-color: #091018;
    border: none;
    color: #d1d1d1;

    height: 3vh;
    width: 15vw;
}

.form-label {
    color: #f8f8f8;
    font-size: .8em;
}

#btn-salvar {
    background-color: #1fe672;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;

    padding: .2em;
    margin-top: 5px;

    width: 4vw;
}

#btn-salvar:hover {
    background-color: #5cff85;
    transition: .2s;
}